@model IEnumerable<IGrouping<Department,SalesRecord>>

@{
    ViewData["Title"] = "Grouping Search";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>@ViewData["Title"]</h2>

<nav class="mb-4">
    <div class="container-fluid">
        <form asp-action="GroupingSearch" class="" role="search">
            <div class="input-group">
                <div class="m-1">
                    <label for="minDate" class="form-label mt-1 mb-1">Min Date</label>
                    <input type="date" class="form-control mt-1 mb-1" name="minDate" value=@ViewData["minDate"]>
                </div>
                <div class="m-1">
                    <label for="maxDate" class="form-label mt-1 mb-1">Max Date</label>
                    <input type="date" class="form-control mt-1 mb-1" name="maxDate" value=@ViewData["maxDate"]>
                </div>
                <div class="m-1">
                    <div class="form-label mt-1 mb-1" style="visibility: hidden;">_</div>
                    <button type="submit" class="btn btn-primary mt-1 mb-1">Filter</button>
                </div>
            </div>
        </form>
    </div>
</nav>

@foreach (var departmentGroup in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Department @departmentGroup.Key.Name, Total sales = $ @departmentGroup.Key.TotalSales(minDate, maxDate).ToString("F2")</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Seller
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}