@model IEnumerable<SalesWebMvc.Models.SalesRecord>;

@{
    ViewData["Title"] = "Simple Search";
}

<h2>@ViewData["Title"]</h2>

<nav class="mb-4">
    <div class="container-fluid">
        <form asp-action="SimpleSearch" class="" role="search">
            <div class="input-group">
                <div class="m-1">
                    <label for="minDate" class="form-label mt-1 mb-1">Min Date</label>
                    <input type="date" class="form-control mt-1 mb-1" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="m-1">
                    <label for="maxDate" class="form-label mt-1 mb-1">Max Date</label>
                    <input type="date" class="form-control mt-1 mb-1" name="maxDate" value=@ViewData["maxDate"] />
                </div>
                <div class="m-1">
                    <div class="form-label mt-1 mb-1" style="visibility: hidden;">_</div>
                    <button type="submit" class="btn btn-primary mt-1 mb-1">Filter</button>
                </div>
            </div>
        </form>
    </div>
</nav>
<div class="">
    <div class="">
        <h3 class="">Total sales = $ @Model.Sum(obj => obj.Amount).ToString("F2")</h3>
    </div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.Department.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>